<html>
<body>
    <h2>Submitted Information:</h2>
    <h4>Name: <%= users.name %></h4>
    <h4>Dojo Location: <%= users.location %></h4>
    <h4>Language: <%= users.language %></h4>
    <h4>Comment: <%= users.description %></h4>

    <form action="/" method = "GET">
        <input type = "submit" value = "go back">
    </form>
</body>
</html>
