<html>
  <head>
     <title>Ninjas</title>
  </head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
      if ("{{ username }}" == "No"){
         $("#header").append('<p>No Ninjas Here</p>');
      }
      else if ("{{ username }}" == "ninjas"){
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/donatello.jpg') }}">');
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/leonardo.jpg') }}">');
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/michelangelo.jpg') }}">');
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/raphael.jpg') }}">');
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/tmnt.png') }}">');
      }
      else if ("{{ username }}" == "blue"){
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/leonardo.jpg') }}">');
      }
      else if ("{{ username }}" == "orange"){
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/michelangelo.jpg') }}">');
      }
      else if ("{{ username }}" == "red"){
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/raphael.jpg') }}">');
      }
      else if ("{{ username }}" == "purple"){
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/donatello.jpg') }}">');
      }
      else{
         $("#pictures").append('<img src="{{ url_for('static', filename='Images/notapril.jpg') }}">');
      };
  });
  </script>
  <body>
    <div id="header"></div>
    <div id="pictures"></div>
  </body>
 <style>
 #pictures img{
     height: 200px;
     width:200px;
 }
 </style>

</html>
