 .submit {
    background-color: blue;
    color: white;
}
.messages {
    color: black;
    background-color: red;
}

.success {
    color: white;
    background-color: green;
}

.delete {
    color: blue;
    background-color: white;
    border-style: none;
    font-size: 14px;
    margin-left: -5px;
}
