<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vinmyMVC</title>
        {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'vinmyMVC/css/main.css' %}"media="screen" title="vinmyMVC"  charset="utf-8">
      <script src="{% static 'vinmyMVC/js/main.js' %}" > </script>
    </head>
    <body>
        <p>Hi {{request.session.name}}</p>
        <form action="/new_user" method = "POST">
            {% csrf_token %}
            <input type = "text" name = "first_name">
            <input type = "submit" value = "submit">
        </form>
    </body>
</html>
