<html>
<head>
<title>Mongoose Dashboard</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <div id ="body">
        <% if(typeof(errors) != 'undefined' ) { %>
       <% for (var x in errors) { %>
       <h3><%= errors[x].message %></h3>
       <% } %>
       <% } %>
        <h2>Welcome to HawkLand</h2>
        <form action="/hawks" method="post">
            Name: <input type="text" name="name">
            Age: <input type="text" name="age">
            <input type="submit" value="Add hawk!">
        </form>
        <form action="/" method="get">
            <input type="submit" value="All Hawks">
        </form>
    </div>
</body>
</html>
