<h3>Welcome, {{user.name}}!</h3>
<p>Dashboard</p>

<p style="color:red;">{{messages.message}}</p>

<form ng-submit="filter()">
    Search: <input type="text" ng-model="filter_me" placeholder="search by topic name">
    <input type="submit" value="Search">
</form>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Topic</th>
            <th>User Name</th>
            <th>Posts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody ng-repeat="topic in topics | filter: filter_name">
        <tr>
            <td>{{topic.category}}</td>
            <td style="color: blue;" ng-click="gotoposts(topic._id)">{{topic.name}}</td>
            <td style="color: blue;" ng-click="gotouser(topic._user._id)">{{topic._user.name}}</td>
            <td>{{topic.posts.length}}</td>
            <td><button ng-click="remove(topic._id)">Remove</button></td>
        </tr>
    </tbody>
</table>

<h3>Add a new topic</h3>
<form ng-submit="create()">
    Topic: <input name="topic" type="text" ng-model='newTopic.name'>
    Description: <input name="topic" type="text" ng-model='newTopic.description'>
    Category: <select ng-model="newTopic.category">
        <option ng-repeat="category in categories" value={{category}}>{{category}}</option>
    </select>
    <input type="submit" value='Submit'>
</form>
