<p>hi, {{user.name}}</p>
<a style="color: blue;" ng-click="logout()">Logout</a>
<a href="/#!/dashboard">Dashboard</a>

<h2>{{topic._user.name}} posted a topic:</h2>
<h3>{{topic.name}}</h3>
<h3>Description: {{topic.description}}</h3>
<h4>Post your answer here:</h4>
<form ng-submit="create()">
    <textarea rows=6 cols=40 ng-model="newPost.text"></textarea>
    <input type="submit" value="Post">
</form>

<p style="color: red;">{{messages.message}}</p>
<div ng-repeat="post in posts | orderBy: 'createdAt'">
    <h3><span ng-bind="post._user.name"></span> posts: <span ng-bind="post.text"></span>  | <a style="color: blue;" ng-click="upvote(post._id)">upvote</a> {{post.upvotes.length}} | <a style="color: blue;" ng-click="downvote(post._id)">downvote</a> {{post.downvotes.length}}</h3>
    <div ng-repeat="comment in post.comments | orderBy: 'createdAt'">
        <p>{{comment._user.name}} comments: {{comment.text}}</p>
    </div>
    <form ng-submit="createcomment(post._id)">
        <textarea rows=2 cols=20 ng-model="newComment[post._id].text"></textarea>
        <input type="submit" value="Comment">
    </form>
</div>
