<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Popular Secrets</title>
        {%load staticfiles%}
        <link rel="stylesheet" type="text/css" href={%static "dojosecrets/css/main.css"%}>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="/logout" method='POST' class="logout">Log Out</a>
        <h2>Popular Secrets</h2><br>
        {% for one in user %}
            Secret: {{one.content}} <br>
            {{one.num_likes}} likes <br>
            Posted: {{one.created_at}}<br>

            {% if loggeduser in one.likers.all%}
            <p> you liked this </p>
            {% elif one.creator.id != request.session.userid %}
            <form action='/like2/{{one.id}}' method='POST'>
                {% csrf_token %}
                <input type="submit" value="like">
            </form>
            {% endif %}

            {% if one.creator.id == request.session.userid %}
            <p> You posted this </p>
            <form action='/deletesecret/{{one.id}}' method='POST'>
                {% csrf_token %}
                <input type="submit" value="Remove" class="remove">
            </form>
            <br>
            <br>
            {% endif %}<br>
        {% endfor %}
        <br>
        <a href="/success" method='POST'>Go Back to Recent Secrets</a>
    </body>
</html>
