<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Popular Secrets</title>
        {%load staticfiles%}
        <link rel="stylesheet" type="text/css" href={%static "dojosecrets/css/main.css"%}>
    </head>
    <body>
        <a href="/logout" method='POST' class="logout">Log Out</a>
        <h2>Popular Secrets</h2><br>
        {% for one in user %}
            Secret: {{one.content}} <br>
            Likes: {{one.likes}} <br>
            Posted: {{one.created_at}} <br>
            <form action='/like2/{{one.id}}' method='POST'>
                {% csrf_token %}
                <input type="submit" value="like">
            </form>
            {% if one.creator.id == request.session.userid %}
            <p> You posted this </p>
            <form action='/deletesecret/{{one.id}}' method='POST'>
                {% csrf_token %}
                <input type="submit" value="Remove" class="remove">
            </form>
            <br>
            {% endif %}
        {% endfor %}
        <br>
        <a href="/" method='POST'>Go Back to Index</a><br>
        <a href="/success" method='POST'>Go Back to Recent Secrets</a>
    </body>
</html>
