<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recent Secrets</title>
        {%load staticfiles%}
        <link rel="stylesheet" type="text/css" href={%static "dojosecrets/css/main.css"%}>
    </head>
    <body>
        {% load humanize %}
        <a href="/logout" method='POST' class="logout">Log Out</a>
        <p class="success">Hello, {{loggeduser.first_name}}!</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action='/postsecret' method='POST'>
            {% csrf_token %}
            <textarea rows=4 cols=20 name="secret"></textarea>
            <input type="submit" value="Post">
        </form>
        <a href="/popularsecrets" method='POST'>Most Popular Secrets</a>

            <h2>Recent Secrets</h2><br>
            {% for one in user %}
                Secret: {{one.content}} <br>
                Posted: {{one.created_at|naturaltime}} <br>
                {{one.num_likes}} likes<br>

                {% for user in one.likeduser.all %}
                {% if user.id == request.session.userid %}
                <p> you liked this </p>
                {% endif %}
                {% endfor %}

                {% if one.creator.id != request.session.userid %}
                <form action='/like1/{{one.id}}/{{request.session.userid}}' method='POST'>
                    {% csrf_token %}
                    <input type="submit" value="like">
                </form>
                {% endif %}

                {% if one.creator.id == request.session.userid %}
                <p> You posted this </p>
                <form action='/deletesecret/{{one.id}}' method='POST'>
                    {% csrf_token %}
                    <input type="submit" value="Remove" class="remove">
                </form>
                    <br>
                {% endif %}
                <br>
                <br>
            {% endfor %}
    </body>
</html>
