<html>
<body>
    <h2>Here are all the users:</h2>
        <h3>Name: <%= title %></h3>
        <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>
